Magidueler.html
src/assets/audio/RPG Music/Connoisseur of Funk.mp3
src/assets/audio/RPG Music/Connoisseur of Funk1.mp3
src/assets/audio/RPG Music/Connoisseur of Funk2.mp3
src/assets/audio/RPG Music/Connoisseur of Stink.mp4
src/assets/audio/RPG Music/Spacing.mp3
referencedata/new work to do instructions
referencedata/integratethis
InteractiveHandbook.code-workspace
src/scratcherpad
src/extra stuff
src/cursedoutfitdata
src/cursedoutfitcreator
scripts/export_races_plaintext.py
src/cursedoutfitcreator.html
GlimpseGenerator.html
blackypyramidstory.html
src/add this info.txt
src/{{frontCover}}.txt
